@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: column;
  padding: 0%; }
  header nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #065806; }
    header nav img {
      height: 3rem;
      width: 3rem; }
  header .link ul li a {
    color: black; }
  header nav .color__boton {
    background-color: white;
    border: #b1b9a6; }

main .presentacion {
  background-image: linear-gradient(to right top, #50a11c, #64b31c, #7ac61b, #90d818, #a8eb12); }
  main .presentacion img {
    height: 20rem;
    width: 20rem;
    animation-name: logo;
    animation-iteration-count: initial;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 1s; }

@keyframes logo {
  0% {
    transform: rotate(100deg); }
  25% {
    transform: rotate(200deg); }
  50% {
    transform: rotate(250deg); }
  75% {
    transition: rotate 300deg; }
  100% {
    transform: rotate 360deg; } }

main .presentacion .titulo {
  background-color: rgba(255, 255, 255, 0.582); }
  main .presentacion .titulo h2 {
    font-size: 2rem; }

main .ofertas {
  background-color: #074407; }
  main .ofertas img {
    height: 18rem;
    width: 100%; }

main .ofertas h3 {
  background-color: rgba(255, 255, 255, 0.815);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: h3;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s; }

@keyframes h3 {
  50% {
    width: 100%;
    background-color: green;
    font-size: 2rem; } }

main .productos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  main .productos h4 {
    background-image: linear-gradient(to right top, #50a11c, #64b31c, #7ac61b, #90d818, #a8eb12);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center; }

main .productos .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem; }
  main .productos .contenedor .leche__almendras {
    height: 12rem; }

main .productos .contenedor .link__ver .link__vermas {
  color: black; }

footer {
  background-color: #065806; }
  footer .footer__link li a {
    color: black; }
