footer{
  
    background-color: $fondo-verde;
       .footer__link{
           li{ 
               a{
                color: map-get($map:$mapa-colores , $key:color-link-black );
               }
           }
       }
       .inconos{
        @include flex-box (row,center,center);
       
        gap: 1rem;
        a{color: white;
            }
        
       }

}

