


header{
    @include flex-box(column,0,0);
    
    padding: 0%;
        nav{
            @include flex-box(column,center,center);
        background-color: $fondo-verde;
        .color{
            background-color: $fondo-verde;    
    
        }
        .link{
                    ul{
                        li{
                            a{
                               color:map-get($map: $mapa-colores , $key: color-link-black );
                            }
                        }
                    }
                }
            
            }
            .color__boton{
                background-color: map-get($map:$mapa-colores , $key:color-fondo-boton );
                border:map-get($map:$mapa-colores , $key:color-boton-borde);
    
                    }
        
        img{
            height:map-get($map: $altura, $key:altura3r );
        width:map-get($map: $altura, $key:altura3r );
         border-radius: map-get($map:$borde-radio , $key:borderadio2r );}
    }
    


@media screen and (max-width: 1000px){
    header{
        nav{

            @include flex-box(row,center,center);
        }
       img{ 
        position: relative;
        left:8px; 
       
       }
    }
}
