.contenedor .imagen:hover > .capa{
    opacity: 1;
    visibility: visible;

}
.contenedor .imagen:hover > img{
    transform:  scale(1.3);
}
.contenedor .imagen:hover > .capa h5{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
