main{
    .presentacion{
        background-image:map-get($map: $mapa-colores, $key:fondo-gradient );

        img{
            height: 20rem;
            width: 20rem;
            
            animation-name:logo;
        animation-iteration-count:initial;
        animation-timing-function:ease;
        animation-duration: 2s;
        animation-delay: 1s;
        
        @keyframes logo{
            0%{transform: rotate(100deg)};
            25%{transform:rotate(200deg)}
            50%{ transform: rotate(250deg)}
            75%{transition: rotate (300deg)}
            100%{transform: rotate (360deg);}}
        }
    }
}
main{
    .presentacion{
        .titulo{
            background-color: map-get($map: $mapa-colores, $key:fondo-procentacion-titulo );
            h2{
                font-size: 2rem;
            }
        }
    }
}
main{
    .ofertas{
        background-color: map-get($map: $mapa-colores, $key:fondo-ofertas );
        img{
            height: 18rem;
         width: 100%;
        }
    }
    h3{
        background-color: map-get($map: $mapa-colores, $key:fondo-ofertas-h3 );
        height: 3rem;
        @include flex-box (column,center,center);
       
        animation-name:h3;
        animation-iteration-count:infinite;
        animation-timing-function:ease;
        animation-duration: 2s;
        animation-delay: 1s;}
        @keyframes h3{
            
            50%{width:100%;
                  background-color:map-get($map: $mapa-colores, $key:fondo-ofertas-h3-animacion );
                font-size: 2rem;}
    }
}


main{
    .productos{
        @include flex-box (column,center,center);
            h4{
                background-image: linear-gradient(to right top, #50a11c, #64b31c, #7ac61b, #90d818, #a8eb12);
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            }
    }
    .productos{
        .contenedor{
            @include flex-box (row,center,center);
           
        flex-wrap: wrap;
    
    gap: 6rem;
    .leche__almendras{
        height: 12rem;
    }
        }
    }
}

main{
    .productos{
        .contenedor{
            .link__ver{

           
            .link__vermas{
                color: black;
            }
        }
        }
    }
}