$fondo-verde:rgb(6, 88, 6);

$mapa-colores:(
    fondo-gradient:linear-gradient(to right top, #50a11c, #64b31c, #7ac61b, #90d818, #a8eb12),
    fondo-procentacion-titulo: rgba(255, 255, 255, 0.582),
    fondo-ofertas: rgb(7, 68, 7),
    fondo-ofertas-h3: rgba(255, 255, 255, 0.815),

);
    
